<div id="barra-de-navegacion">
    <div id="titulo">
        <img src="../img/icono.gif" alt="icono">
        <h2>Cuidar y Sanar</h2>
    </div>
    <div id="menu">
        <a href="/">Inicio</a>
        <a href="/juego">Juego Interactivo</a>
        <a href="/informacion">Información general</a>
    </div>
</div>