<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/capitulos.css">
        <link rel="stylesheet" href="../css/general.css">
    <title>Juego Interactivo</title>
</head>
<body>
    <div id="contenedor">
        {{> barradenavegacion}}
        <div id="capitulos">
            <div>
                <p>Capítulo 1</p>
                <a id="cap1" href="/" data-valor="cap1"><img src="https://i.ibb.co/4j5m1kH/logo-negro.png" alt="logo"></a>
            </div>
            <div>
                <p>Capítulo 2</p>
                <a id="cap2" href="/" data-valor="cap2"><img src="https://i.ibb.co/4j5m1kH/logo-negro.png" alt="logo"></a>
            </div>
            <div>
                <p>Capítulo 3</p>
                <a id="cap3" href="/" data-valor="cap3"><img src="https://i.ibb.co/4j5m1kH/logo-negro.png" alt="logo"></a>
            </div>
            <div>
                <p>Capítulo 4</p>
                <a id="cap4" href="/" data-valor="cap4"><img src="https://i.ibb.co/4j5m1kH/logo-negro.png" alt="logo"></a>
            </div>
            <div>
                <p>Capítulo 5</p>
                <a id="cap5" href="/" data-valor="cap5"><img src="https://i.ibb.co/4j5m1kH/logo-negro.png" alt="logo"></a>
            </div>
        </div>
    </div>
    <script src="../js/capitulos.js"></script>
</body>
</html>