<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/informacion.css">
    <link rel="stylesheet" href="../css/general.css">
    <title>Información general</title>
</head>

<body>
    <div id="contenedor">
        {{> barradenavegacion}}
        <div id="informacion">
            <nav id="navegacion">
                <h3>Información general</h3>
                <ul>
                    <li><a href="#general">Trastornos alimentarios</a></li>
                    <li><a href="#tipos">Tipos</a></li>
                    <li><a href="#causas">Causas y personas en riesgo</a></li>
                    <li><a href="#tratamiento">Tratamientos</a></li>
                    <li><a href="#contactos">Contactos de apoyo</a></li>
                </ul>
            </nav><br>
            <section id="general">
                <h3>Trastornos alimenticios</h3><br>
                <div id="infografia">
                    <img src="../img/infografia.png" alt="infografía">
                </div><br>
                <h4>Definición</h4>
                <p>Los trastornos de la alimentación son trastornos del comportamiento que se
                    caracterizan por una alteración grave y persistente de las conductas alimentarias,
                    asociadas a pensamientos y emociones angustiantes, que no pueden explicarse por otra
                    afección de salud, no son apropiados para el nivel de desarrollo del individuo y no
                    son congruentes con las normas culturales.</p>
                <p>Estos incluyen a la Anorexia nerviosa, Bulimia nerviosa, Trastorno por atracón,
                    Trastorno evitativo o restrictivo de la ingesta de alimentos, Síndrome de pica,
                    Trastorno por rumiación o regurgitación.</p>
                <p>Se desarrollan con mayor frecuencia en la adolescencia y adultos jóvenes; si bien,
                    la anorexia nerviosa y la bulimia nerviosa son más comunes en las mujeres, estos
                    trastornos pueden ocurrir a cualquier edad y afectar a cualquier género.</p>
                <p>Los trastornos de la conducta alimentaria pueden llegar a condicionar graves
                    afecciones a la función física, psicológica y social; es por ello que tienen
                    la tasa de mortalidad más alta de todas las enfermedades psiquiátricas.</p>
                <p>Las personas que luchan contra los trastornos alimentarios tienen una angustia
                    emocional intensa y su calidad de vida se ve gravemente afectada. Es importante
                    señalar que a menudo estos trastornos coexisten con otros trastornos psiquiátricos,
                    como son los trastornos del estado de ánimo y de ansiedad, el trastorno
                    obsesivo-compulsivo y trastornos por consumo de alcohol y sustancias.</p>
            </section><br>
            <section id="tipos">
                <h3>Tipos de trastornos alimentarios</h3>
                <p>Los trastornos alimentarios pueden ser clasificados en cuatro tipos:</p>
                <ul>
                    <li>Anorexia nerviosa.</li>
                    <li>Bulimia nerviosa.</li>
                    <li>Trastorno por atracón.</li>
                    <li>Trastorno por evitación y restricción de la ingesta de alimentos.</li>
                </ul>
                <p>Estos trastornos pueden afectar a cualquier edad y a cualquier género, pero su
                    frecuencia de aparición es mayor en las mujeres.</p><br>

                <h4>Anorexia nerviosa</h4>
                <p>La anorexia nerviosa es una afección en la que las personas evitan comer, restringen
                    los alimentos severamente o solo comen cantidades muy pequeñas de ciertos alimentos.
                    También pueden pesarse una y otra vez. Incluso cuando están peligrosamente por debajo
                    del peso normal, estas personas pueden verse a sí mismas como si tuvieran sobrepeso.</p>
                <p>Hay dos subtipos de anorexia nerviosa: la restrictiva y la de atracón-purgativa.</p>
                <ul>
                    <li><b><i>Restrictiva:</i></b> Las personas con este subtipo de anorexia nerviosa
                        limitan severamente la cantidad y el tipo de alimentos que consumen.</li>
                    <li><b><i>Atracón-purgativa: </i></b>Las personas con este subtipo de anorexia nerviosa
                        también se imponen fuertes restricciones en la cantidad y el tipo de alimentos que consumen.
                        Además, pueden tener episodios de atracones y purgas, es decir, ingieren grandes
                        cantidades de alimentos en poco tiempo, seguido por vómitos o por el uso de laxantes
                        o diuréticos para desechar lo que comieron.</li>
                </ul><br>
                <h5>Sintomas</h5>
                <p>Los síntomas de la anoxeria nerviosa incluyen:</p>
                <ul>
                    <li>Alimentación extremadamente restringida o ejercicio intensivo y excesivo.</li>
                    <li>Delgadez extrema (emaciación).</li>
                    <li>Intentos constantes para adelgazar y resistencia a mantener un peso normal o saludable;
                        temor intenso de subir de peso.</li>
                    <li>Imagen corporal distorsionada o una autoestima sumamente influenciada por las
                        percepciones del peso y la forma del cuerpo.</li>
                    <li>Rechazo a aceptar lo grave que es tener un bajo peso corporal.</li>
                </ul><br>
                <p><b>La anorexia nerviosa puede ser fatal.</b> Tiene una tasa de mortalidad extremadamente alta,
                    en comparación con otros transtornos mentales. Las personas con anorexia corren el riesgo de
                    morir
                    por complicaciones médicas asociadas con la inanición. El suicidio es la segunda causa principal
                    de muerte en las personas diagnosticadas con anorexia nerviosa.</p><br>

                <h4>Bulimia nerviosa</h4>
                <p>Las personas con bulimia nerviosa tienen episodios recurrentes en los que consumen cantidades
                    inusualmente grandes de comida. Suelen sentir una pérdida de control sobre estos episodios
                    de atracones.</p>
                <p>A estos atracones les siguen comportamientos para compensar por el exceso de comida, como
                    vómitos forzados, uso exagerado de laxantes o diuréticos, ayunos, ejercicio excesivo,
                    o una combinación de estos. A diferencia de las personas con anorexia nerviosa, las
                    personas con bulimia nerviosa pueden mantener un peso saludable o tener exceso de peso.</p><br>
                <h5>Sintomas</h5>
                <p>Los síntomas y consecuencias para la salud de la bulimia nerviosa incluyen:</p>
                <ul>
                    <li>Dolor e inflamación crónica de la garganta.</li>
                    <li>Infamación de las glándulas salivales en la zona del cuello y la mandíbula.</li>
                    <li>Esmalte dental desgastado y mayor sensibilidad y caries en los dientes, como resultado
                        de la exposición al ácido del estómago al vomitar.</li>
                    <li>Reflujo ácido y otros problemas gastrointestinales.</li>
                    <li>Malestar e irritación intestinal debido al uso inadecuado de laxantes.</li>
                    <li>Deshidratación grave por las purgas.</li>
                    <li>Desequilibrio de los electrolitos (con niveles demaciados bajos o demaciados altos
                        de sodio, calcio, potasio y otros minerales) lo que puede originar un accidente
                        cerebrovascular o ataque al corazón.</li>
                </ul><br>

                <h4>Trastorno por atracón</h4>
                <p>El trastorno por atracón es una afección en la que las personas pierden el control
                    sobre lo que comen y tienen episodios recurrentes de ingerir cantidades inusualmente
                    grandes de alimentos. A diferencia de la bulimia nerviosa, a los episodios de
                    atracones no les siguen purgas, exceso de ejercicio o ayunos. Por esta razón,
                    las personas con el trastorno por atracón a menudo tienen exceso de peso o son obesas.</p><br>
                <h5>Sintomas</h5>
                <p>Los síntomas de este trastorno incluyen:</p>
                <ul>
                    <li>Consumir cantidades inusualmente grandes de alimentos en un período corto de tiempo, como,
                        por ejemplo, en dos horas.</li>
                    <li>Comer rápidamente durante los episodios de atracones.</li>
                    <li>Comer incluso cuando está lleno o no tiene hambre.</li>
                    <li>Comer hasta estar tan lleno que se siente incómodo.</li>
                    <li>Comer solo o en secreto para evitar sentirse avergonzado.</li>
                    <li>Tener sentimientos de angustia, vergüenza o culpa por comer.</li>
                    <li>Hacer dietas frecuentes, posiblemente sin perder peso.</li>
                </ul><br>

                <h4>Trastorno por evitación y restricción de la ingesta de alimentos</h4>
                <p>El trastorno por evitación y restricción de la ingesta de alimentos, anteriormente
                    conocido como trastorno de alimentación selectiva, es una afección en la que las
                    personas limitan la cantidad o el tipo de alimentos que ingieren. A diferencia de
                    la anorexia nerviosa, las personas con este trastorno no tienen una imagen corporal
                    distorsionada ni un temor extremo a aumentar de peso. Este trastorno es más
                    frecuente en la niñez media y por lo general su inicio es más temprano que otros
                    trastornos de la alimentación.</p>
                <p>Muchos niños pasan por fases de ser quisquillosos a la hora de comer, pero un
                    niño con trastorno por evitación y restricción de la ingesta de alimentos no
                    consume suficientes calorías para crecer y desarrollarse adecuadamente, y un
                    adulto con este trastorno no consume suficientes calorías para mantener las
                    funciones básicas del cuerpo.</p><br>
                <h5>Sintomas</h5>
                <p>Los síntomas de este trastorno incluyen:</p>
                <ul>
                    <li>Restricción dramática de los tipos o la cantidad de alimentos consumidos.</li>
                    <li>Falta de apetito o de interés en la comida.</li>
                    <li>Pérdida drástica de peso.</li>
                    <li>Malestar estomacal, dolor abdominal u otros problemas gastrointestinales sin otra
                        causa conocida.</li>
                    <li>Selección limitada de alimentos favoritos que se va haciendo aún más limitada ("Comer
                        de forma quisquillosa" que empeora progresivamente).</li>
                </ul>
            </section><br>
            <section id="causas">
                <h3>Causas y personas en riesgo</h3>
                <p>Los trastornos de la alimentación pueden afectar a personas de cualquier edad, origen
                    racial y étnico, peso corporal y género. Incluso las personas que parecen ser saludables,
                    como los atletas, pueden tener estos trastornos y estar extremadamente enfermas. Las personas
                    con trastornos de la alimentación pueden tener un bajo peso corporal, un peso normal o
                    sobrepeso. En otras palabras, no se puede saber si alguien tiene un trastorno de la
                    alimentación con solo mirarlo.</p>
                <p>Es importante destacar que no existe una sola causa para los trastornos alimentarios. Al igual
                    que otras condiciones psiquiátricas, estos trastornos a menudo se agrupan en familias y pueden
                    desarrollarse de manera diversa en diferentes personas. Sin embargo, las investigaciones en la
                    materia han encontrado amplias similitudes en la compresión de los principales factores de
                    riesgo, los cuales incluyen aspectos biológicos, psicológicos y socioculturales (como la
                    estigma, los prejuicios, el bullying en la infancia, estereotipos de belleza).</p>
                <p>La evidencia sugiere que los genes y la herencia genética desempeñan un papel importante
                    en que algunas personas tienen un mayor riesgo de sufrir un trastorno alimentario, sin
                    embargo, estos trastornos también pueden afectar a quienes no tienen antecedentes
                    familiares este tipos de afecciones.</p>
                <p>La historia de vida de la persona y el entorno también juegan un papel esencial, al
                    desencadenar la aparición de un trastorno alimentario (p. ej. la presión para hacer
                    dieta o la pérdida de peso relacionada con una afección médica o un factor estresante
                    de la vida pueden ser la puerta de entrada a la anorexia nerviosa o la bulimia nerviosa
                    para algunas personas).</p>
            </section><br>
            <section id="tratamiento">
                <h3>Tratamientos</h3>
                <p>Es posible tratar con éxito los trastornos de la alimentación. La detección y el
                    tratamiento temprano son importantes para una recuperación total. Las personas
                    con trastornos de alimentación tienen un mayor riesgo de suicidio y de
                    complicaciones médicas.</p>
                <p>Los miembros de la familia pueden desempeñar un papel fundamental en el tratamiento,
                    ya que pueden alentar a la persona con problemas de alimentación o de imagen
                    corporal a que busque ayuda. Los familiares también pueden brindar apoyo durante
                    el tratamiento y pueden ser grandes aliados tanto para la persona como para el
                    proveedor de atención médica. Existen investigaciones que sugieren que la incorporación
                    de la familia al tratamiento para los trastornos de la alimentación puede mejorar
                    los resultados del tratamiento, especialmente para los adolescentes.</p>
                <p>Los planes de tratamiento para los trastornos de la alimentación incluyen psicoterapia,
                    atención y controles médicos, asesoramiento nutricional, medicamentos o una combinación
                    de estos enfoques.</p><br>
                <p>Los objetivos habituales del tratamiento incluyen:</p>
                <ul>
                    <li>Restaurar una nutrición adecuada.</li>
                    <li>Alcanzar un peso saludable.</li>
                    <li>Reducir el exceso de ejercicio.</li>
                    <li>Detener los comportamientos de atracones y purgas.</li>
                </ul><br>
                <p>Las personas que luchan contra los trastornos alimentarios tienen una angustia
                    emocional intensa y su calidad de vida se ve gravemente afectada. Es importante
                    señalar que a menudo estos trastornos coexisten con otros trastornos psiquiátricos,
                    como son los trastornos del estado de ánimo y de ansiedad, el trastorno
                    obsesivo-compulsivo y trastornos por consumo de alcohol y sustancias.</p>
                <p>Las personas con trastornos de la alimentación también pueden tener otros
                    trastornos mentales (como depresión o ansiedad) o problemas con el consumo
                    de sustancias. Es fundamental tratar cualquier afección concurrente como parte
                    del plan de tratamiento.</p>
                <p>Las formas específicas de psicoterapia ("terapia de diálogo") y los enfoques
                    cognitivo-conductuales pueden tratar eficazmente ciertos trastornos de la alimentación.</p>
                <p>Las investigaciones también sugieren que los medicamentos pueden ayudar a tratar algunos
                    trastornos de la alimentación y la ansiedad o la depresión concurrente relacionada
                    con estos. La información sobre los medicamentos cambia con frecuencia, así que hable
                    con su proveedor de atención médica.</p>
            </section><br>
            <section id="contactos">
                <h3>Más información:</h3>
                <p>Guia de Trastornos Alimenticios, Centro Nacional de Equidad de Género y Salud Reproductiva</p>
                <a
                    href="https://salud.gob.mx/unidades/cdi/documentos/guiatrastornos.pdf">https://salud.gob.mx/unidades/cdi/documentos/guiatrastornos.pdf</a>
                <p>Los trastornos de la alimentación: Un problema que va más allá de la comida, National Institute
                    of Mental Health</p>
                <a
                    href="https://www.nimh.nih.gov/health/publications/espanol/los-trastornos-de-la-alimentacion#part_10185">https://www.nimh.nih.gov/health/publications/espanol/los-trastornos-de-la-alimentacion#part_10185</a>
                <h3>Contactos de apoyo</h3>
                <p>Clínica de Trastornos de la Conducta Alimentaria, Instituto Nacional de Psiquiatría Ramón de la
                    Fuente Muñez</p>
                <a
                    href="https://www.inprf.gob.mx/transparencia/archivos/pdfs/clinica_alimentaria_2019.pdf">https://www.inprf.gob.mx/transparencia/archivos/pdfs/clinica_alimentaria_2019.pdf</a>
                <p>Línea Nacional de Prevención del Suicidio</p>
                <a href="https://988lifeline.org/es/obten-ayuda/">https://988lifeline.org/es/obten-ayuda/</a>
                <p>ISSSTE Tratamiento multidisciplinario a pacientes con trastornos alimenticios</p>
                <a
                    href="https://www.gob.mx/issste/prensa/ofrece-issste-tratamiento-multidisciplinario-a-pacientes-con-trastornos-alimenticios">https://www.gob.mx/issste/prensa/ofrece-issste-tratamiento-multidisciplinario-a-pacientes-con-trastornos-alimenticios</a>
            </section>
        </div>
    </div>
    {{> chat}}
    <script src="../js/lobby.js"></script>
</body>

</html>