/* Sección de información */
#informacion {
    margin: 30px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: justify;
}

#informacion img {
    width: 30%;
    height: 30%;
    margin-top: 20px;
}

#informacion h3 {
    font-size: 20px;
    font-style: italic;
}

#descripcion {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px; 
}

#texto {
    width: 70%;
    margin-top: 10px;
}

#texto h3 {
    font-size: 20px;
    font-style: italic;
}